
<div class="services">
    <h1>SERVICES</h1>
    <div class="servicesHead">      
        <img src="../../assets/imgs/99093-man-with-laptop.gif"> 
        <div class="para">
            <p>Developers and designers have proficiency to build mobile applications & websites, along with expertise in maintain team association, assessing and mitigating risks and ensuring compete testing of applications.</p>   
            <p><span>Fulfilling customer objectives of enhancing business and increasing throughput, our customized and scalable solutions are spread amongst popular industrial domains like sales & distribution, healthcare, finance, retail, hospitality and more.</span></p>
        </div>
    </div>
</div>
 
