
<div id="sections">
    <div class="left">
    <!-- <img class="leftitem" id="splash" src="../../assets/imgs/rightSplash.png"> -->
        <div id="left">
            <div id="smline"></div>
                 <h4 class="leftitem">Hello, I am 👋</h4>
                 <div class="leftitems"><h1>Manoj<span> kumar</span> </h1> </div>
                <h5 class="leftitem">I'm Mean <span class="change_content"></span></h5>
                 <!-- <>I'm Mean <span id="lblue">Stack Developer</span></h5> -->
                 <div class="leftitem" id="playbtn">
                 <img src="../../assets/imgs/playButton.png" alt="">
                 <h6>See my <span class="bold">Work profile</span></h6>
                 </div>
        </div> 
    </div> 
    <div class="right">
        <img src="../../assets/imgs/1645390813079.jpeg">
        <p>I'm a full-stack developer, will be part of a software engineering team, so many sure that, under your soft skills, you mention your ability to communicate and multitask.</p>
    </div> 
</div>
