<h1>Testimony Projects</h1>
<div class="center">
 <div class="content row row-cols-5 row-cols-md-3 g-4">
    <div class="property-card col">
      <a href="#">
        <div class="property-image">
          <div class="property-image-title">

            <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
          </div>
        </div></a>
      <div class="property-description">
       <img src="../../assets/imgs/project6.png">
        <h5> Kerala Tourism</h5>
        <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
      </div>
    </div>
    <div class="property-card col">
        <a href="#">
          <div class="property-image">
            <div class="property-image-title">
              <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
            </div>
          </div></a>
        <div class="property-description">
            <img src="../../assets/imgs/project5.png">
          <h5> Validation Login </h5>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
        </div>
      </div>
      <div class="property-card col">
        <a href="#">
          <div class="property-image">
            <div class="property-image-title">
              <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
            </div>
          </div></a>
        <div class="property-description">
            <img src="../../assets/imgs/project4.png">
          <h5> Learner Tracker </h5>
          <p>ICTAK Learner Tracker should enable theTraining Head to view the status ofeach student enrolled with ICTAK.</p>
        </div>
      </div>
      <div class="property-card col">
        <a href="#">
          <div class="property-image">
            <div class="property-image-title">
              <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
            </div>
          </div></a>
        <div class="property-description">
            <img src="../../assets/imgs/project3.png">
          <h5> Library books </h5>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
        </div>
      </div>
      <div class="property-card col">
        <a href="#">
          <div class="property-image">
            <div class="property-image-title">
              <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
            </div>
          </div></a>
        <div class="property-description">
            <img src="../../assets/imgs/project2.png">
          <h5> Garden view </h5>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
        </div>
      </div>
      <div class="property-card col">
        <a href="#">
          <div class="property-image">
            <div class="property-image-title">
              <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
            </div>
          </div></a>
        <div class="property-description">
            <img src="../../assets/imgs/project1.png">
          <h5>Academy website </h5>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
        </div>
      </div>
    </div>
  </div>